*.mp4
*-checkpoint.ipynb
*.png
*.ply
*.pyc
external/lama/outputs/*
external/regnerf/data/*
external/regnerf/out/*
model/out/arkitscenes_44796491_full_annotations/checkpoint_25000
model/out/arkitscenes_44796491_full_annotations/checkpoint_50000
model/out/arkitscenes_44796491_full_annotations/checkpoint_75000
model/out/arkitscenes_44796491_full_annotations/checkpoint_100000
model/out/arkitscenes_44796491_full_annotations/checkpoint_125000
model/out/arkitscenes_44796491_full_annotations/checkpoint_150000
model/out/arkitscenes_44796491_full_annotations/checkpoint_175000
model/out/arkitscenes_44796491_full_annotations/checkpoint_200000
model/out/arkitscenes_44796491_full_annotations/checkpoint_209303
model/out/arkitscenes_44796491_full_annotations/config.gin
model/out/arkitscenes_44796491_full_annotations/events.out.tfevents.1654516084.silvan-basic-2b-2.13069.0.v2
model/out/llff3_fern/config.gin
model/out/llff3_fern/events.out.tfevents.1654508783.silvan-basic-2b-2.10786.0.v2
external/lama/hub/checkpoints/vgg19-dcbb9e9d.pth
*.ckpt
external/lama/big-lama.zip
external/lama/big-lama
external/lama/ade20k/ade20k-resnet50dilated-ppm_deepsup/encoder_epoch_20.pth
external/lama/experiments
external/lama/hub/checkpoints/pt_inception-2015-12-05-6726825d.pth
external/lama/hub/checkpoints/vgg16-397923af.pth
evaluation/notebooks/reconstruction_custom.ipynb
evaluation/notebooks/vis_experiment_custom.ipynb
evaluation/notebooks/vis_labels_custom.ipynb
preprocessing/custom/notebooks/inpainting_inspection.ipynb
preprocessing/custom/notebooks/mask_generation.ipynb
preprocessing/custom/notebooks/reconstruction.ipynb
evaluation/notebooks/reconstruction_custom.ipynb
evaluation/notebooks/vis_experiment_custom.ipynb
evaluation/notebooks/vis_labels_custom.ipynb
preprocessing/custom/notebooks/inpainting_inspection.ipynb
preprocessing/custom/notebooks/mask_generation.ipynb
preprocessing/custom/notebooks/reconstruction.ipynb
experiments
preprocessing/*.ipynb
tests